
.login-page {

  .login-page__card {
    max-width: 500px;
    margin: 5em auto;

    padding: 0;

    .login-page__card__header {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100px;
    }

    .login-page__card__actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding-top: 0;

      .login-page__card__actions__alternative {
        margin-top: 1em;
      }
    }

    .login-page__card-divider {
      width: 100%;
      margin: 0;
    }
  }
}

.card-section {
  padding: 2em 3em;
}
