@import "../../lib/styles/variables";

.class-page {
  background-color: $background-color;
  min-height: calc(100vh - 50px);

  .class-page__class-container {
    max-width: 800px;
    margin: 0 auto;
  }
}
