@import '../../lib/styles/variables';

.classes-page {
  display: flex;

  .classes-page__container__right-margin {
    background-color: $background-color;
  }

  .classes-page__filters-column {
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    min-height: 100vh;
  }

  .classes-page__classes-column {
    min-height: 100vh;

    background-color: $background-color;

    .classes-page__tabs {
      margin-top: 2em;

      display: flex;
      justify-content: center;
    }
  }
}
