@import '../../lib/styles/variables';

.classes-page {
  display: flex;

  .classes-page__container__right-margin {
    background-color: $background-color;
  }

  .classes-page__filters-column {
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    min-height: 100vh;
  }

  .classes-page__classes-column {
    position: relative;

    min-height: 100vh;

    background-color: $background-color;

    .classes-page__tabs {
      margin-top: 1em;

      display: flex;
      justify-content: center;

      .classes-page__tab {
        font-size: 1.5em;
        font-weight: bold;
      }
    }

    .classes-page__list {
      margin-top: 1em;
    }
  }
}

.learning-unit-selection {
  margin: 50px auto;
  background: white;
  border-radius: 10px;
}
