.create-class {

  .create-class__editable-column {
    height: 100vh;

    .create-class__editable {
      .create-class__title {
        margin-top: 2em;
        margin-bottom: 1.5em;

        .create-class__title__editable {
          font-size: 24px;
          font-weight: bold;

          padding: 4px 8px;
        }
      }

      .create-class__section {
        margin-top: 1em;

        .create-class__section__delete {
          cursor: pointer;

          padding: 0.2em;
        }
      }

      .create-class__actions {
        margin-top: 2em;
      }
    }
  }

  .create-class__favorites-column {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 100vh;

    .create-class__favorites {

    }
  }
}
