.create-class {
  .create-class__title {
    margin-top: 2em;
    margin-bottom: 1.5em;

    .create-class__title__editable {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .create-class__section {
    margin-top: 1em;
  }

  .create-class__actions {
    margin-top: 2em;
  }
}
