@import '../../lib/styles/variables';

.create-class {

  .create-class__container__left-margin {
    background-color: $background-color;
  }

  .create-class__editable-column {
    background-color: $background-color;
    height: calc(100vh - 50px);
    overflow: auto;

    position: relative;
  }

  .create-class__favorites-column {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: calc(100vh - 50px);
    overflow: auto;
  }
}
